JWT_SECRET=superlongandsecuresecretstringhere
JWT_REFRESH_SECRET=superlongandsecurerefreshsecretstringhere
MONGO_URI=mongodb://martinezcuestajonas_db_user:oiw0KKvOZug4wFOh@ac-irqegdr-shard-00-00.o6xf8rz.mongodb.net:27017,ac-irqegdr-shard-00-01.o6xf8rz.mongodb.net:27017,ac-irqegdr-shard-00-02.o6xf8rz.mongodb.net:27017/?authSource=admin&replicaSet=atlas-u72g4v-shard-0&tls=true&retryWrites=true&w=majority&appName=Cluster0
PORT=3000
